{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Aggiungi CSV di fatture{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Aggiungi un file CSV di fatture</strong></h4>
    {% if perms.accounting.add_csvinvoice %}
    <p>Ciao {{ user.get_short_name }}, carica il file CSV e poi invia.</p>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        Per favore, correggi gli errori qui sotto.
      </p>
    {% endif %}
    <form action="" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
        <div class="row">
          <div class="col col-md-6">
            <button class="btn btn-secondary btn-lg btn-block" type="submit">Invia</button>
          </div>
        </div>
        <small>I campi con l'asterisco (*) sono obbligatori</small>
        <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
    Non hai le credenziali per aggiungere file CSV di fatture.
    {% endif %}
  </div>
</div>
{% endblock content %}
