{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Aggiungi file{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "accounting/invoice_alerts.html" %}
    <h4><strong>Aggiungi un file CSV o XML</strong></h4>
    {% if perms.accounting.add_csvinvoice %}
    <p>Ciao {{ user.get_short_name }}, scegli il file (anche più d'uno) e poi Salva.
      Il file CSV deve contenere <a href="{% static 'accounting/sample.csv' %}">
      questi campi</a>, mentre l'XML è quello scaricabile assieme alla fattura elettronica.</p>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        Per favore, correggi gli errori qui sotto.
      </p>
    {% endif %}
    <form action="" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
          {% include "accounting/invoice_buttons.html" %}
        <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
    Non hai le credenziali per aggiungere file di fatture.
    {% endif %}
  </div>
</div>
{% endblock content %}
