{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Add file' %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "accounting/invoice_alerts.html" %}
    <h4><strong>Aggiungi un file CSV o XML</strong></h4>
    {% if perms.accounting.add_csvinvoice %}
    {% static 'accounting/sample.csv' as sample_file_url %}
    <p>{% blocktranslate with name=user.get_short_name %}Hello {{ name }},
      choose the file (or files) and submit.
      CSV file must contain <a href="{{ sample_file_url }}">
      these fields</a>, while the XML can be downloaded with the electronic invoice.
      {% endblocktranslate %}</p>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        {% translate 'Fix the errors below, please' %}.
      </p>
    {% endif %}
    <form action="" method="post" class="needs-validation" enctype="multipart/form-data" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
          {% include "accounting/invoice_buttons.html" %}
        <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
      {% translate "You don't have permission to add invoice file" %}.
    {% endif %}
  </div>
</div>
{% endblock content %}
