{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Email invoices' %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col col-md-4">
    <h4><strong>{% translate 'Invoices by email' %}</strong></h4>
  </div>
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert">
  {% translate 'Created invoices' %}: <strong>{{ csv_created }}</strong>,
  {% translate 'modified' %}: <strong>{{ csv_modified }}</strong>,
  {% translate 'errors' %}: <strong>{{ csv_failed }}</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<ul>
  <li><a href="{% url 'invoices:index' %}{% now 'Y' %}/">{% translate "This year's invoices" %}</a></li>
  <li><a href="{% url 'invoices:index' %}{% now 'Y/m' %}/">{% translate "This month's invoices" %}</a></li>
</ul>
{% endblock content %}
