<div class="table-responsive">
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col"></th>
        <th scope="col">Numero</th>
        <th scope="col">Cliente</th>
        <th scope="col">Data</th>
        <th scope="col">Importo</th>
        <th scope="col">Pagata</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in all_invoices %}
      <tr>
        {% if invoice.active %}
          <td><span class="badge badge-pill badge-success">Attiva</span></td>
        {% else %}
          <td><span class="badge badge-pill badge-danger">Passiva</span></td>
        {% endif %}
        <td><a href="{% url 'invoices:change' invoice.id %}">{{ invoice.number }}</a></td>
        <td>{{ invoice.client }}</td>
        <td>{{ invoice.date|date:"d/m/Y" }}</td>
        <td>€ {{ invoice.get_total }}</td>
        <td>{% if invoice.paid %}OK{% else %}-{% endif %}</td>
      </tr>
      {% endfor %}
    <tbody>
  </table>
</div>
