{% extends 'base.html' %}

{% block title %}{{ website.acro }} | Fatture{% endblock title %}

{% block content %}
{% if created %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Fattura <strong>{{ created }}</strong> creata con successo!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<ul>
  <li><a href="/fatture/{% now 'Y' %}/">Fatture dell'anno corrente</a></li>
  <li><a href="/fatture/{% now 'Y/m' %}/">Fatture del mese corrente</a></li>
</ul>
<div class="row">
  <div class="col col-md-4">
    <h4><strong>Lista delle fatture</strong></h4>
  </div>
  <div class="col col-md-8 text-right">
    {% if perms.accounting.add_invoice %}
      <a class="btn btn-secondary" href="{% url "invoices:add" %}">Aggiungi fattura</a>
    {% endif %}
  </div>
</div>
<hr class="mb-4">
{% if perms.accounting.view_invoice and all_invoices %}
  {% include "accounting/invoice_loop.html" %}
{% else %}
    <div class="col-md-12">
        <p>Non ci sono fatture da mostrare.</p>
    </div>
{% endif %}
<hr class="mb-4">
{% if is_paginated %}
  <nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PRECEDENTI </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> PROSSIME &raquo;</a></li>
    {% endif %}
  </ul>
  </nav>
{% endif %}
{% endblock content %}
