{% extends 'base.html' %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Invoices' %} {{ year|date:"Y" }}{% endblock title %}

{% block extra-head %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{% endblock extra-head %}

{% block content %}
<ul>
  {% now "Y" as current_year %}
  {% now "m" as current_month %}
  <li><a href="{% url 'invoices:month' year=current_year month=current_month %}">{% translate "This month's invoices" %}</a></li>
  <li><a href="#charts">{% translate "Go to charts" %}</a></li>
  <li><a href="{% url 'invoices:year_download' year=year.year %}">{% translate "Download CSV file" %}</a></li>
</ul>
<div class="row">
  <div class="col col-md-4">
    <h4><strong>{% translate "Invoices of" %} {{ year|date:"Y" }}</strong></h4>
  </div>
  <div class="col col-md-8 text-right">
    {% if perms.accounting.add_invoice %}
      {% include "accounting/invoice_add.html" %}
    {% endif %}
  </div>
</div>
<hr class="mb-4">
{% if perms.accounting.view_invoice and all_invoices %}
  {% include "accounting/invoice_loop.html" %}
  <hr class="mb-4" id="charts">
  {% include "accounting/invoice_sum.html" %}
  <hr class="mb-4">
{% else %}
  <div class="col-md-12">
      <p>{% translate "There are no invoices available" %}.</p>
  </div>
  <hr class="mb-4">
{% endif %}
<nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    {% if previous_year %}
    <li><a href="{% url 'invoices:year' year=previous_year.year %}" class="page-link">&laquo; {% translate "PREVIOUS" %} </a></li>
    {% endif %}
    {% if next_year %}
    <li><a href="{% url 'invoices:year' year=next_year.year %}" class="page-link"> {% translate "NEXT" %} &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}
