{% extends 'base.html' %}

{% block title %}{{ website.acro }} | Fatture {{ month|date:"M-Y" }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col col-md-4">
    <h4><strong>Lista delle fatture di {{ month|date:"M-Y" }}</strong></h4>
  </div>
  <div class="col col-md-8 text-right">
    {% if perms.accounting.add_invoice %}
      <a class="btn btn-secondary" href="{% url "invoices:add" %}">Aggiungi fattura</a>
    {% endif %}
  </div>
</div>
<hr class="mb-4">
{% if perms.accounting.view_invoice and all_invoices %}
  {% include "accounting/invoice_loop.html" %}
{% else %}
    <div class="col-md-12">
        <p>Non ci sono fatture da mostrare.</p>
    </div>
{% endif %}
<hr class="mb-4">
{% include "accounting/invoice_charts.html" %}
<nav aria-label="Page navigation container">
  <ul class="pagination justify-content-center">
    {% if previous_month %}
    <li><a href="/fatture/{{ previous_month|date:"Y/m/" }}" class="page-link">&laquo; PRECEDENTE </a></li>
    {% endif %}
    {% if next_month %}
    <li><a href="/fatture/{{ next_month|date:"Y/m/" }}" class="page-link"> SUCCESSIVO &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endblock content %}
