<div class="row">
  <div class="col col-md-6">
    <h5>Attive per categoria</h5>
    <div id="chart_act"></div>
  </div>
  <div class="col col-md-6">
    <h5>Passive per categoria</h5>
    <div id="chart_pass"></div>
  </div>
</div>
{% block extra-js %}
<script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});

      google.charts.setOnLoadCallback(drawActiveChart);
      google.charts.setOnLoadCallback(drawPassiveChart);

      function drawActiveChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Categoria');
        data.addColumn('number', '%');
        data.addRows([{% for active, data in active_cat.items %}
          ['{{ active }}', {{ data }}]{% if forloop.last %}{% else %},{% endif %}{% endfor %}
        ]);

        var options = {'title':'',
                       'width':500,
                       'height':300};

        var chart = new google.visualization.PieChart(document.getElementById('chart_act'));
        chart.draw(data, options);
      }

      function drawPassiveChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Categoria');
        data.addColumn('number', '%');
        data.addRows([{% for passive, data in passive_cat.items %}
          ['{{ passive }}', {{ data }}]{% if forloop.last %}{% else %},{% endif %}{% endfor %}
        ]);

        var options = {'title':'',
                       'width':500,
                       'height':300};

        var chart = new google.visualization.PieChart(document.getElementById('chart_pass'));
        chart.draw(data, options);
      }
    </script>
{% endblock extra-js %}
