{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ website.acro }} | Aggiungi fattura{% endblock title %}

{% block content %}
{% if created %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Fattura <strong>{{ created }}</strong> creata con successo!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% elif modified %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Fattura <strong>{{ modified }}</strong> modificata con successo!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endif %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <h4><strong>Aggiungi una fattura</strong></h4>
    {% if perms.accounting.add_invoice %}
    <p>Ciao {{ user.get_short_name }}, inserisci qui i dati della fattura e poi invia.</p>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        Per favore, correggi gli errori qui sotto.
      </p>
    {% endif %}
    <form action="" method="post" class="needs-validation" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
          <div class="row">
            <div class="col col-md-6">
              <button class="btn btn-secondary btn-lg btn-block" type="submit">Salva</button>
            </div>
            <div class="col col-md-6">
              <button class="btn btn-light btn-lg btn-block" type="submit" name="add_another">
                Salva e aggiungi un'altra</button>
            </div>
          </div>
          <small>I campi con l'asterisco (*) sono obbligatori</small>
          <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
    Non hai le credenziali per aggiungere fatture.
    {% endif %}
  </div>
</div>
{% endblock content %}
