{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}{{ website.acro }} | {% translate 'Modify invoice' %}{% endblock title %}

{% block content %}
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% include "accounting/invoice_alerts.html" %}
    <h4><strong>{% translate 'Modify invoice' %}</strong></h4>
    {% if perms.accounting.change_invoice %}
    <div class="row">
      <div class="col col-md-8">
        {% blocktranslate with name=user.get_short_name %}
          Hello {{ name }}, update the fields below then submit.
        {% endblocktranslate %}
      </div>
      <div class="col col-md-4">
        <a class="btn btn-danger" href="{% url 'invoices:delete' object.id %}">{% translate 'Delete' %}</a>
      </div>
    </div>
    <hr class="mb-4">
    {% if form.errors %}
      <p class="alert alert-danger" role="alert">
        {% translate 'Fix the errors below, please' %}.
      </p>
    {% endif %}
    <form action="" method="post" class="needs-validation" novalidate>
        {{ form|crispy }}
        <hr class="mb-4">
          {% include "accounting/invoice_buttons.html" %}
        <hr class="mb-4">
      {% csrf_token %}
    </form>
    {% else %}
    {% translate "You don't have permissions to modify invoices" %}.
    {% endif %}
  </div>
</div>
{% endblock content %}
